<div class='user-container gallery' >
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/dashboard">סטטיסטיקטות<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-stats"></span></a></li>
                    <li ><a href="#/profile">פרופיל<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li ><a href="#/galery">ניהול גלריה<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-picture"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>     

    <div class="content-main" ng-controller="userGallery"  ng-init="init()">
        <div class="add-row">
            <button ng-click="toggleAddPhotoModal()" class="btn btn-purple add-btn"><i class="fa fa-cloud-upload pad-10-right" aria-hidden="true"></i>הוסף תמונה</button>
        </div>

        <div class='gallery-container'>
            <div masonry class="masonry">
                <div class="box-g london" ng-repeat="photo in photos">
                    <div class="box-icon"> 
                        <a class="with-caption image-link" title="{{photo.Photo.title}}" href="{{photo.Photo.photo_location}}" >
                            <img class="vertical-25" src="{{photo.Photo.photo_location}}" alt="Image">
                        </a>
                    </div>
                    <div class="info float-container">
                        <div class="col-sm-12 london-title">
                            <h3 class="text-uppercase" style="word-wrap:break-word; overflow-wrap: break-word">{{photo.Photo.title}}</h3>                     
                        </div>
                        <p style="margin: 5px; word-wrap:break-word; overflow-wrap: break-word">{{photo.Photo.description}}</p><hr />
                        <div class="col-sm-12 location-main"> 
                            <div class="pull-left user-icons">
                                <button style='background: transparent;' ng-click="deletePhoto(photo.Photo.id, photo.Photo.photo_location)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                           <!--     <a href="#"><i class="fa fa-user fa-2x"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-2x"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
