<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" ng-controller="login as loginCtrl">
        <div class="loginmodal-container">
            <div class="modal-header pad-init">
                <button type="button" class="close" ng-click="toggleLoginModal() ; loginForm.reset(); loginCtrl.close()"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1>התחבר לחשבון שלך</h1>
            </div>
                                 
            <form angular-validator-submit='loginCtrl.submit(loginForm.$valid)' novalidate name='loginForm' angular-validator>                                   
                <div class="form-group">
                    <input name="email" placeholder="דואר אלקטרוני"
                      type="email" tabindex="1" ng-model="loginCtrl.user.email"
                      class = "form-control"
                      ng-focus= "loginCtrl.clear()"
                      validate-on="dirty"
                      invalid-message="'כתובת הדואר האלקטרוני אינה תיקנית'"
                      required-message="'נדרש'" required
                    >                                   
                </div>
                                         
                <div class="form-group">
                    <input  type="password" name="password" placeholder="סיסמא"
                     tabindex="2" 
                     ng-focus= "loginCtrl.clear()"
                     class = "form-control"
                     ng-model="loginCtrl.user.password"
                     required-message="'נדרש'" required
                    >   
                </div>
                <h1 style="text-align: center; color: red; font-size: 1.4em !important;" ng-if="loginCtrl.error">{{ loginCtrl.message }}</h1>
                <div class="form-group" ng-if="!loginCtrl.success">
                    <button class="login loginmodal-submit" tabindex="3" type="submit">התחבר</button>	 
                </div>
                <h1 style="text-align: center; color: green; font-size: 1.4em !important;" ng-if="loginCtrl.success">{{ loginCtrl.message }}</h1>
                
                <div class="form-group" ng-if="loginCtrl.success">
                    <button style="background: green !important" class="login loginmodal-submit" tabindex="7" ng-click="loginForm.reset(); toggleLoginModal() ; loginCtrl.close()">סגור</button>	 
                </div>
                
                  <div class="login-help" ng-if="!loginCtrl.success">
                    <button id="register" class="btn tran" data-dismiss="modal" ng-click="toggleRegisterModal() ; loginForm.reset();  loginCtrl.close()">הירשם</button>
            <!--        <button class="btn tran" ng-click="toggleRegisterModal() ; loginForm.reset();  loginCtrl.close()">שכחתי סיסמא</button> -->
                  </div>
            </form>    
        </div>
    </div>
</div>