<div class='user-container gallery' >
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/dashboard">סטטיסטיקטות<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li ><a href="#/profile">פרופיל<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li ><a href="#/galery">ניהול גלריה<span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>    

    <div class="content-main" style='text-align: center;' ng-controller="profileUpdate as profile" ng-init="init()">
        <!--main content start-->

        <section class="wrapper profile-container">

            <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                        <div class="panel-body">
                            <div class="col-lg-2 col-sm-2 pull-right" >
                                <h4>{{profile.user.firstname}} {{profile.user.lastname}}</h4>               
                                <div class="follow-ava">
                                    <img ng-src="{{profile.profilePicture}}" alt="">
                                </div>
                                <h6>{{profile.user.role}}</h6>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">

                    <section class="panel" style="direction: rtl;">                                          
                        <div class="panel-body bio-graph-info prof">
                            <h1>עריכת פרופיל</h1>
                            <div  class="form loginmodal-container updateProfile-container" >
                                <form angular-validator-submit='profile.submit(updateForm.$valid)' name='updateForm' angular-validator>

                                    <div class="form-group">
                                        <input name="firstname" placeholder="שם פרטי" ng-change="changeValue()"
                                               type="text" tabindex="1" ng-model="profile.user.firstname"  
                                               class = "form-control"  
                                               required-message="'נדרש'" required                                                     
                                               >
                                    </div>

                                    <div class="form-group">
                                        <input name="lastname" placeholder="שם משפחה" ng-change="changeValue()"
                                               type="text" tabindex="2" ng-model="profile.user.lastname" 
                                               class = "form-control"  
                                               required-message="'נדרש'" required                                                 
                                               >                                         
                                    </div>

                                    <div class="form-group">
                                        <input   name="email" placeholder="דואר אלקטרוני" ng-change="changeValue()"
                                                 type="email" tabindex="3" ng-model="profile.user.email"
                                                 class = "form-control"
                                                 validator = "profile.checkEmail(profile.user.email) === true"
                                                 validate-on="dirty"
                                                 invalid-message="profile.checkEmail(profile.user.email)"
                                                 required-message="'נדרש'" required
                                                 >                                   
                                    </div>

                                    <div class="form-group">
                                        <input name="gitproject" placeholder="פרויקט GIT " ng-change="changeValue()"
                                               type="text" tabindex="4" ng-model="profile.user.gitproject" 
                                               class = "form-control"  

                                               >                                         
                                    </div>

                                    <div class="form-group">
                                        <input name="gituser" placeholder="שם משתמש GIT " ng-change="changeValue()"
                                               type="text" tabindex="5" ng-model="profile.user.gituser" 
                                               class = "form-control"  

                                               >                                         
                                    </div>                   

                                    <div class="form-group">
                                        <input name="url" placeholder="כתובת אינטרנט שבה מאוחסן הפרויקט " ng-change="changeValue()"
                                               type="url" tabindex="6" ng-model="profile.user.url" 
                                               class = "form-control"  

                                               >                                         
                                    </div> 

                                    <div class="form-group">    
                                        <textarea ng-model="profile.user.projectDescription" name="description" rows="5" cols="50" placeholder="תיאור הפרויקט"
                                                  class="form-control" tabindex="7" ng-change="changeValue()"
                                                  >
                                        </textarea>                      
                                    </div>

                                    <div class="form-group" id="radioGender">
                                        <label class="gender-caption">מין</label>

                                        <span>זכר</span> <input required-message="'נדרש'" type="radio" name="gender" value="M" ng-model="profile.user.gender" ng-required="!profile.user.gender" ng-change="changeValue()">
                                        <span>נקבה</span> <input required-message="'נדרש'" type="radio" name="gender" value="F" ng-model="profile.user.gender" ng-required="!profile.user.gender" ng-change="changeValue()">

                                    </div>

                                    <div class="form-group" >                
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary btn-purple upload-btn">
                                                    &hellip; 
                                                    <input  name="file" type="file"  style="display: none;" file-Upload = "myFile" accept="image/*">
                                                </span>
                                            </label>
                                            <input ng-change="changeValue()" type="text" disabled  ng-model="profile.user.photoName" name="photo" placeholder="בחר תמונת פרופיל" style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;" readonly>
                                        </div> 
                                    </div>


                                    <!--   <button ng-click ="uploadFile()"></button> -->


                                    <div class="form-group">
                                        <div style="text-align: center;">
                                            <button ng-disabled="updateForm.$invalid || !profile.changed" type="submit"  class="btn btn-success">עדכון</button>
                                            <button type="button" class="btn btn-danger" ng-click="updateForm.reset(); init();">ביטול</button>
                                        </div>

                                </form> 
                            </div>

                        </div>

                    </section>
                </div>
            </div>

            <!-- page end-->
        </section>

    </div>

</div>





