

         <section class="section section-boats" style="height: 100%; margin-bottom: 0; min-height: calc(100vh - 100px);" ng-controller="projects" ng-init='init()'>
            
         <!-- Title -->
            <div class="section-title" style="margin-top: 20px">
               <div class="container">
                  <h2 class="title">פרוייקטים</h2>
                  <p class="sub-title">WEB בקורס אפליקציות</p>
               </div>
            </div>

            <!-- Content -->
            <div class="container" style="margin-top: 25px;">
               <div class="row">
                   <div class="col-lg-4 col-md-8 col-sm-12 col-xs-24" ng-repeat="project in projectsData" ng-if="$index < (current_page*6)" style="direction: rtl;" ng-if="project.Photo[0]">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="{{project.Photo[0].photo_location}}" alt="project image" />
                           </a>
                        </div>

                         <span class="boats-qty"><p ng-if="project.User.gitproject">{{project.User.gitproject}}</p><p ng-if="!project.User.gitproject">Project name missing</p></span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">{{project.Photo[0].title}}</h4>
                              <p class="country">נוצר על ידי: {{project.User.first_name}} {{project.User.last_name}}  </p>
                           </div>
                        </div>
                     </div>
                  </div>

               
                  </div>
               </div>

               <div class="align-center">
                   <button class="btn-load" ng-click="more()" ng-hide="current_page===total_pages"><span class="text">טען פרויקטים נוספים</span></button>
               </div>
                      
         </section>
  	

