

         <section class="section section-boats" ng-controller="projects" ng-init='init()'>
            
         <!-- Title -->
            <div class="section-title">
               <div class="container">
                  <h2 class="title">פרוייקטים</h2>
                  <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
               </div>
            </div>

            <!-- Content -->
            <div class="container">
               <div class="row">
                  <div class="col-md-16 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="img/destination-1.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">730</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Figueira da Fox</h4>
                              <p class="country">Portugal</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="img/destination-2.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">621</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Ibiza</h4>
                              <p class="country">Spain</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="img/destination-3.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">543</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Palma de Mallorca</h4>
                              <p class="country">Spain</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="img/destination-4.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">495</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Portofino</h4>
                              <p class="country">Italy</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="img/destination-5.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">402</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Port Hercules</h4>
                              <p class="country">Monaco</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="load-destinations-box">
                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="img/destination-4.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">495</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Portofino</h4>
                                 <p class="country">Italy</p>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="img/destination-5.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">402</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Port Hercules</h4>
                                 <p class="country">Monaco</p>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="img/destination-3.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">543</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Palma de Mallorca</h4>
                                 <p class="country">Spain</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="align-center">
                  <a href="#" class="btn btn-default btn-load-destination"><span class="text">טען פרויקטים נוספים</span><i class="icon-spinner6"></i></a>
               </div>
            </div>            
         </section>
  	

