 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        
                    <div class="modal-dialog modal-lg" ng-controller="registration as registration">
                         
			<div class="loginmodal-container registermodal-container">
                                 <div class="modal-header pad-init">
                                     <button type="button" class="close" ng-click="toggleRegisterModal() ; registrationForm.reset() " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h1>פתח חשבון</h1>
                                 </div>
                                 
                                 <div  class="form" >
                                   
                                     <form angular-validator-submit='registration.submit(registrationForm.$valid)' novalidate name='registrationForm' angular-validator>
                                   
                                             <div class="form-group">
                                                <input name="firstname" placeholder="שם פרטי"
                                                       type="text" tabindex="1" ng-model="registration.user.firstname"  
                                                       class = "form-control"  
                                                       required-message="'נדרש'" required                                                     
                                                >
                                             </div>
                                         
                                  
                                         
                                          <div class="form-group">
                                            <input name="lastname" placeholder="שם משפחה"
                                                   type="text" tabindex="2" ng-model="registration.user.lastname" 
                                                   class = "form-control"  
                                                   required-message="'נדרש'" required                                                 
                                            >                                         
                                          </div>
                                         
                                      <div class="form-group">
                                             <input   name="email" placeholder="דואר אלקטרוני"
                                                      type="email" tabindex="3" ng-model="registration.user.email"
                                                      class = "form-control"
                                                      validator = "registration.checkEmail() === true"
                                                      validate-on="dirty"
                                                      invalid-message="'כתובת הדואר האלקטרוני אינה תיקנית'"
                                                      required-message="'נדרש'" required
                                             >                                   
                                       </div>
                                         
                                         <div class="form-group">
                                             <input  type="password" name="password" placeholder="סיסמא"
                                                     tabindex="4" 
                                                     class = "form-control"
                                                     ng-model="registration.user.password"
                                                     validator = "registration.passwordValidator(registration.user.password) === true"
                                                     invalid-message = "registration.passwordValidator(registration.user.password)"
                                                     validate-on="dirty"
                                                     required-message="'נדרש'" required
                                             >
                                      
                                          
                                         </div>
                                        <div class="form-group"> 
                                              <input  type="password" name="confirmPassword" placeholder="אימות סיסמא"  
                                                       tabindex="5" 
                                                      ng-model="registration.user.confirmPassword" 
                                                      class = "form-control"
                                                      validate-on="dirty"
                                                      validator = "registration.user.password === registration.user.confirmPassword"
                                                      invalid-message="'הסיסמאות אינן תואמות'"                                             
                                                      required-message="'נדרש'" required
                                              >   
                                        
                                         </div>
                                          
 
                                            <div class="form-group" id="radioGender">
                                                <label class="gender-caption">מין</label>
                                              
                                                    <span>זכר</span> <input required-message="'נדרש'" type="radio" name="gender" value="M" ng-model="registration.user.gender" ng-required="!registration.user.gender" >
                                                    <span>נקבה</span> <input required-message="'נדרש'" type="radio" name="gender" value="F" ng-model="registration.user.gender" ng-required="!registration.user.gender" >
                                             
                                            </div>

                                      
                                         
                                         <div class="form-group" ng-if="!registration.success">
                                             <button class="login loginmodal-submit" tabindex="7" type="submit">בצע רישום</button>	 
                                         </div>
                                         <h1 style="text-align: center; color: green" ng-if="registration.success">{{ registration.message }}</h1>
                                         <div class="form-group" ng-if="registration.success">
                                             <button style="background: green !important" class="login loginmodal-submit" tabindex="7" ng-click="registrationForm.reset() ; toggleRegisterModal() ; toggleLoginModal()">סגור</button>	 
                                        </div>
                                   </form> 
                                </div> 
			
			</div>
	           </div>
 </div>