.user-container{
    width:100%;
   height: 100%;
   position: relative;
   min-height: 100vh
}

.navbar-nav{
    font-size: 16px !important;
    font-weight: bold;
}

.prof h1{
    font-size: 2em !important;
    margin: 30px !important;
    text-align: center !important;
}

.upload-btn{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    height: 30px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}
.btn-purple{
    background-color: #9400D3 !important;
    border-color: #9400D3 !important;
    color: white !important;
}

.add-btn{
    padding: 30px;
    float: left;
    
}

.add-row{
    display: block;
    padding: 30px;
    height: 50px;
    margin-bottom: 30px;
}

.pad-10-right{
    padding-right: 10px;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
    transition: all 0.5s;
    
    transform: scale(0) rotate(500deg);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.5s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0) rotate(500deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

