@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  
  padding: 15px 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  direction: rtl;
}

.registermodal-container {
  max-width: 500px !important;
  overflow: hidden !important;
}

.loginmodal-container h1 {
  text-align: right;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password],input[type=email] {
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 15px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=radio]{
    margin-left:10px;
}



.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #DDA0DD;
  padding: 5px 0px;
  font-family: roboto;
  font-size: 18px;
  border-radius: 15px !important;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  border-radius: 15px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
  text-align: left;
}



.modal-dialog{
   height: calc(100vh - 100px);
     width: 100vw;
     display: table-cell;
  vertical-align: middle;
}

.modal-box {
  background-image: url(../img/projects.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  /*background-repeat: no-repeat;*/
}

.pad-init{
    padding: 0 !important;
}

/*
.form{
	background:#f1f1f1; width:470px; margin:0 auto; padding-left:50px; padding-top:20px;
}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }
.form input[type="email"] { width: 400px; }
.form input[type="password"] { width: 400px; }
*/.form input.birthday, input.birthyear{max-width: 100px;
                        height: 30px;
                        font-size: 16px;
                        width: 100%;
                        margin-left: 30px;
                        -webkit-appearance: none;
                        background: #fff;
                        border: 1px solid #d9d9d9;
                        border-top: 1px solid #c0c0c0;
                         border-radius: 15px;
                        padding: 0 8px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        display: inline-block;
}

/*.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }*/
.form label.month {display: inline-block;
    margin-left: 30px;}
/*.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }*/
/*.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }*/


.form .select-style {
   max-width: 100px;
   height: 30px;
   font-size: 16px;
   width: 100%;
  /*-webkit-appearance: button;*/
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  /*background-image: url(images/select-arrow.png),*/ 
/*    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;*/
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .gender {
  width:410px;
  }/*
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }*/
  .birth-day-caption{
      display: block;
  }
  
  .birth-container{
      display: block;
  }
  
    .gender-caption{
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 0 !important;
  }
  
  .tran{
      background: transparent;
  }
  
  .modal-header{
      margin-bottom: 10px !important;
  }
  
  .erorr-msg{
      color: red;
      font-weight: 700;
      border: 1px red solid;
      text-align: center;
  }